build
build-*
__pycache__
.DS_Store
!.vscode/*
*.wav
*.bin

*.kicad_pro.lck
*.kicad_sch.lck
*.kicad_pcb.lck
_autosave*.kicad_sch
_autosave*.kicad_pcb
board/fabrication-toolkit-options.json
board/temp-freerouting.dsn
board/pico-opm-writer-backups/
board_pcba/pico-opm-writer_pcba-backups/
board/production/
board/base/*.FCBak

board_pcba/fabrication-toolkit-options.json
board_pcba/production/

reference/

# KiCad GUI が出す ERC レポート
*-erc.rpt
